@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    @apply bg-background text-foreground font-semibold
  }
}

:root {
  --background: #111111;
  --foreground: #eeeeee;
}

.container{
  width: 40%;
  margin: 0 auto
}
