@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111111;
  --foreground: #eeeeee;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.container{
  width: 40%;
  margin: 0 auto
}
